@import "./../abstracts/variables";

.section-about {
  width: 100%;
  background-color: $color-grey-light;
  height: 100vh;
}

.btn-text {

    transition: all .2s;//ovo mozes da upises i u &:link,&:visited isti efekat
    &:link,
    &:visited{
        text-decoration: none;
        border-bottom: 1px solid $color-green;
        color: $color-green;
        padding: 3px;
        display: inline-block;
    }
    &:hover{
        background-color: $color-green;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
    }
    &:active{
        transform: translateY(1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
    }

}
