@import "./../abstracts/variables";

.section-tours {
  padding: 5rem 0;
  height: 80vh;
  background-color: $color-grey-light;

  .row {
    justify-content: space-between;
    width: 70%;
    height: 32rem;//da bi perspective radio moras ovde da 
    //uneses istu visinu kao kod elementa na kom je perespective
    //primenjen, a to su ovde child elementi .card elementa(_side--front, _side-back)
    .card {
      perspective: 30rem;
      -moz-perspective: 150rem;
      

      
      &__side {
          width: 100%;
        transition: all 1.8s;
        height: 32rem;
        cursor: pointer;
      
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        box-shadow: 0 1.5rem 3rem rgba($color: $color-black, $alpha: 0.5);
        border-radius: .3rem;
        overflow: hidden;//ako child element strci izvan parenta, to se
        //ovim resava. Konkretno ovde, nije se primenio border-radius, slika na
        //kartici je prekrila uglove pa je to reseno ovim
        
      
       

        &--front {
          background-color: $color-white;
          position: relative;
          
          .card__side__img{
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100% );//da bi podrzalo na svim browserima
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100% );
            height: 45%;
            background-blend-mode: screen;
            background-size: cover;
              &--1{

              background-image: linear-gradient(to right bottom , $color-orange-light,$color-orange-dark), url('./../../img/nat-5.jpg');
            }
            &--2{

              background-image: linear-gradient(to right bottom , $color-green-light,$color-green-dark), url('./../../img/nat-6.jpg');
            }
            &--3{

              background-image: linear-gradient(to right bottom , $color-blue-light,$color-blue-dark), url('./../../img/nat-7.jpg');
            }
          }

          &__heading{
            font-size: 2rem;
            
            font-weight: 300;
            text-transform: uppercase;
            text-align: right;
            color: $color-white;
            font-family: 'Lato', sans-serif;
            position: absolute;
            top: 8rem;
            right: 1rem;
            width: 55%;

            &__span{
              padding: .5rem 1rem;
              -webkit-box-direction-break: clone;//tu gde je prelom recenice u browseru, tu nastaje novi element, tj css ga tako posmatra
              box-decoration-break: clone;
              &--1{
                background-image: linear-gradient(to right bottom , rgba($color-orange-light,.85), rgba($color-orange-dark, .85))
              }
              &--2{
                background-image: linear-gradient(to right bottom , rgba($color-green-light,.85), rgba($color-green-dark, .85))
              }
              &--3{
                background-image: linear-gradient(to right bottom , rgba($color-blue-light,.85), rgba($color-blue-dark, .85))
              }
            }
          }
          .ul{
         padding-top: 2rem;
     
            ul{
              list-style: none;
              width: 80%;
              margin: 0 auto;
              height: 50%;

              li{
              
                text-align: center;
                &:not(:last-child){
                  border-bottom: 1px solid rgba($color-grey, .2);
                }
                
                

              }
            }
          }
         
        }
        &--back {
          transform: rotateY(180deg);
          display: flex;
          justify-content: center;
          flex-direction: column;
          &-1{
            background-image: linear-gradient(to right bottom , $color-orange-light,$color-orange-dark);
            
          }
        }

        .cta{
          width: 80%;
          margin: 0 auto;
          height: 80%;
          &__only{
            text-transform: uppercase;
            text-align: center;
            margin-top: 10%;
            margin-bottom: 10%;
          }

          &__price{

            text-transform: uppercase;
            text-align: center;
            font-size: 6rem;
            font-weight: 300;
          }
          .cta__btn{
            width: 60%;
            padding: 1rem 1rem;
            // margin-top: 20%;
            
          }

        }
      }
      &:hover .card__side--front {
        transform: rotateY(-180deg);
      }

      &:hover .card__side--back {
        transform: rotateY(0deg);
      }
    }
  }
}
