@charset "UTF-8";
.mainIntroduction {
  width: 70%;
  float: right;
  height: 100vh;
  background-color: rgba(242, 242, 242, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 320px) {
  .mainIntroduction {
    width: 85%;
  }
}
.mainIntroduction__visualization {
  position: absolute;
  top: 0;
  left: -23px;
  width: 45px;
  height: 100vh;
  display: flex;
}
@media screen and (max-width: 320px) {
  .mainIntroduction__visualization {
    left: -23px;
    width: 30px;
  }
}
.mainIntroduction__visualization--part1 {
  width: 15px;
  height: 100vh;
  background-color: rgba(0, 142, 153, 0.8);
  -webkit-clip-path: polygon(0% 50%, 100% 45%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 50%, 100% 45%, 100% 100%, 0% 100%);
}
.mainIntroduction__visualization--part2 {
  width: 16px;
  height: 100vh;
  background-color: #008e99;
  -webkit-clip-path: polygon(0% 20%, 100% 25%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 20%, 100% 25%, 100% 100%, 0% 100%);
}
.mainIntroduction__visualization--part3 {
  width: 15px;
  height: 100vh;
  background-color: rgba(0, 142, 153, 0.5);
  -webkit-clip-path: polygon(0% 35%, 100% 40%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 35%, 100% 40%, 100% 100%, 0% 100%);
}
@media screen and (max-width: 320px) {
  .mainIntroduction__visualization--part3 {
    display: none;
  }
}
.mainIntroduction__logo {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.mainIntroduction__logo img {
  transform: scale(0.6);
}
.mainIntroduction__mainDiv {
  width: 100%;
  margin: 0 auto;
  height: 75vh;
  display: flex;
  flex: content;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
}
@media screen and (max-width: 320px) {
  .mainIntroduction__mainDiv {
    height: 60vh;
  }
}
.mainIntroduction__mainDiv img {
  margin: 0 auto;
  width: 50%;
  outline: 0.8rem solid #f2f2f2;
  box-shadow: 0rem 0rem 0.5rem 0.7rem rgba(51, 51, 51, 0.4);
}
@media screen and (max-width: 320px) {
  .mainIntroduction__mainDiv img {
    outline: 0.4rem solid #f2f2f2;
    width: 70%;
  }
}
.mainIntroduction__mainDiv p {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
}
@media screen and (max-width: 320px) {
  .mainIntroduction__mainDiv p {
    font-size: 0.9rem;
  }
}
.mainIntroduction__mainDiv h1 {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
@media screen and (max-width: 320px) {
  .mainIntroduction__mainDiv h1 {
    font-size: 1.4rem;
    width: 90%;
    margin-top: 3rem;
    margin-bottom: -5rem;
  }
}
.mainIntroduction__mainDiv button {
  margin: 0 auto;
  padding: 0.6rem 5rem;
  background-color: #008e99;
  color: #f2f2f2;
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
}
.mainIntroduction__mainDiv button:hover {
  cursor: pointer;
}
.mainIntroduction__copyright {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
@media screen and (max-width: 320px) {
  .mainIntroduction__copyright {
    font-size: 0.9rem;
  }
}
.mainIntroduction__copyright p {
  padding: 20px 0;
  text-align: center;
}

.memory {
  width: 60%;
}
@media screen and (max-width: 320px) {
  .memory {
    width: 85%;
  }
}

.mainMemory {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 40vh;
}
@media screen and (max-width: 320px) {
  .mainMemory {
    margin-top: -3rem;
    height: 70vh;
  }
}
.mainMemory--text {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
@media screen and (max-width: 320px) {
  .mainMemory--text {
    font-size: 1.4rem;
    width: 90%;
  }
}
.mainMemory__gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1.4rem;
  grid-row-gap: 1.4rem;
  width: 75%;
  margin: 0 auto;
}
@media screen and (max-width: 320px) {
  .mainMemory__gallery {
    grid-template-columns: 1fr 1fr;
  }
}
.mainMemory__gallery img {
  width: 100%;
  height: 10rem;
  margin: 0 auto;
  outline: 0.3rem solid #008e99;
}
.mainMemory__gallery img:hover {
  cursor: pointer;
}
@media screen and (max-width: 320px) {
  .mainMemory__gallery img {
    height: 9rem;
  }
}

.quiz {
  width: 60%;
}
@media screen and (max-width: 320px) {
  .quiz {
    width: 85%;
  }
}

.quiz__mainDiv h2 {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
@media screen and (max-width: 320px) {
  .quiz__mainDiv h2 {
    font-size: 1.4rem;
    width: 90%;
  }
}

.quiz__buttons {
  margin-top: 2rem;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.quiz__buttons--button {
  width: 45%;
}
@media screen and (max-width: 320px) {
  .quiz__buttons--button {
    width: 80%;
  }
}

.swipe {
  width: 60%;
}
@media screen and (max-width: 320px) {
  .swipe {
    width: 85%;
  }
}
.swipe .swipe__mainDiv h2 {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.swipe .swipe__buttons {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 320px) {
  .swipe .swipe__buttons {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .swipe .swipe__buttons--button {
    padding: 0.5rem 2rem;
  }
}
.swipe .triangles {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 0 auto;
}
@media screen and (max-width: 320px) {
  .swipe .triangles {
    width: 100%;
  }
}
.swipe .triangles .triangle1, .swipe .triangles .triangle2 {
  -webkit-clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
  width: 3.5rem;
  height: 3.5rem;
  background-color: #008e99;
}
.swipe .triangles .triangle1 {
  transform: rotate(-90deg);
}
.swipe .triangles .triangle2 {
  transform: rotate(90deg);
}

.registration {
  width: 60%;
}
@media screen and (max-width: 320px) {
  .registration {
    width: 85%;
  }
}
@media screen and (max-width: 320px) {
  .registration .registration__mainDiv {
    height: 80vh;
  }
}
.registration .registration__mainDiv h2 {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.registration .registration__mainDiv .registration__registrationForm {
  width: 80%;
  margin: 0 auto;
}
.registration .registration__mainDiv .registration__registrationForm__normalInput {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0.5rem;
}
@media screen and (max-width: 320px) {
  .registration .registration__mainDiv .registration__registrationForm__normalInput {
    grid-template-columns: 1fr;
  }
}
.registration .registration__mainDiv .registration__registrationForm__normalInput--input {
  width: 100%;
  height: 3rem;
  background-color: transparent;
  margin-top: 0.5rem;
  outline: none;
  color: #333333;
  border: 0.17rem solid rgba(0, 142, 153, 0.8);
}
.registration .registration__mainDiv .registration__registrationForm__normalInput--input::-moz-placeholder {
  color: #333333;
  padding-left: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}
.registration .registration__mainDiv .registration__registrationForm__normalInput--input:-ms-input-placeholder {
  color: #333333;
  padding-left: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}
.registration .registration__mainDiv .registration__registrationForm__normalInput--input::placeholder {
  color: #333333;
  padding-left: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}
.registration .registration__mainDiv .registration__registrationForm__chackboxInput {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
}
.registration .registration__mainDiv .registration__registrationForm__chackboxInput--chackboxSection {
  display: flex;
  align-items: center;
  width: 65%;
  padding: 0.5rem 0;
}
@media screen and (max-width: 320px) {
  .registration .registration__mainDiv .registration__registrationForm__chackboxInput--chackboxSection {
    width: 100%;
  }
}
.registration .registration__mainDiv .registration__registrationForm__chackboxInput--chackboxSection--input {
  margin-right: 2rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 1rem;
  width: 1rem;
  background-color: rgba(0, 142, 153, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.registration .registration__mainDiv .registration__registrationForm__chackboxInput--chackboxSection--input:checked::after {
  content: "";
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  color: #f2f2f2;
  font-size: 1rem;
}
.registration .registration__mainDiv .registration__registrationForm__chackboxInput--chackboxSection label {
  margin: 0 0;
  text-align: left;
}
@media screen and (max-width: 320px) {
  .registration .registration__mainDiv .registration__registrationForm__chackboxInput--chackboxSection label {
    font-size: 0.9rem;
  }
}

.result {
  width: 85%;
}
.result .result__mainDiv {
  margin: auto 0;
  height: 80vh;
}
@media screen and (max-width: 320px) {
  .result .result__mainDiv {
    height: 60vh;
  }
}
.result .result__mainDiv .buttonsResult {
  display: flex;
  justify-content: space-between;
  width: 35%;
  margin: 0 auto;
}
@media screen and (max-width: 320px) {
  .result .result__mainDiv .buttonsResult {
    width: 50%;
  }
}
.result .result__mainDiv .buttonsResult img {
  width: 2rem;
  height: 2rem;
  outline: none;
  margin: 0;
  box-shadow: none;
  cursor: pointer;
  border-radius: 0.3rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  background-image: url(./../Assets/background-desktop.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
}
@media screen and (max-width: 320px) {
  body {
    background-image: url(./../Assets/background-mob.jpg);
  }
}/*# sourceMappingURL=main.css.map */