@import './introduction.scss'; 
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(./../Assets/background-desktop.jpg);
    background-size:100% !important; //ekran mi je pravougaonog oblika pa iz tog
    //razloga nisam postavio 100% ili cover opciju za background-size
    // background-position: center;
    background-repeat: no-repeat;
    position: relative;
    

}