@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body .hiring .hireDevelopers button, body .hiring .listOfDevelopersPriperedToHire button {
  align-self: center;
  justify-content: center;
  padding: 0.5rem 2rem;
  transition: 0.2s all ease;
  outline: none;
  border: none;
  border-radius: 0.1rem;
  cursor: pointer;
  font-size: 1.3rem;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #586460;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}
body nav {
  display: flex;
  justify-content: center;
  height: 8vh;
  padding: 2rem 0;
}
body nav #addDeveloper,
body nav #btnShowDeveloper {
  padding: 0.5rem 2rem;
  border-radius: 0.1rem;
  cursor: pointer;
  outline: none;
  border: none;
}
body .searchMain {
  display: flex;
  justify-content: center;
  height: 8vh;
  margin: 2rem 0;
}
body .searchMain input {
  background-color: transparent;
}
body .searchMain button {
  padding: 0.5rem 2rem;
  transition: 0.2s all ease;
  outline: none;
  border: none;
  border-radius: 0.1rem;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);
}
body .searchMain button:hover {
  background-image: linear-gradient(to right, lightcoral, #be2e2e);
  cursor: pointer;
}
body .addDeveloper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80%;
  margin: -3rem auto 0 auto;
  outline: 1rem solid lightcoral;
  border-radius: 0.3rem;
}
body .addDeveloper .x {
  position: absolute;
  right: -0.6rem;
  top: -0.6rem;
  cursor: pointer;
}
body .listShowDeveloper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  color: white;
  font-size: 1.4rem;
  background-color: rgba(240, 128, 128, 0.2);
  margin-bottom: 0.3rem;
  border-radius: 1rem;
}
@media screen and (max-width: 1024px) {
  body .listShowDeveloper {
    font-size: 0.9rem;
  }
}
body .listShowDeveloper li .mainData {
  display: flex;
  flex-direction: column;
}
body .listShowDeveloper li .mainData .firstMain, body .listShowDeveloper li .mainData .secondMain {
  background-color: rgba(88, 100, 96, 0.1);
  height: 100%;
  text-align: center;
  align-self: center;
}
body .listShowDeveloper li .mainData .firstMain div, body .listShowDeveloper li .mainData .secondMain div {
  text-align: center;
  align-self: center;
}
body .listShowDeveloper div {
  align-self: center;
}
body .listShowDeveloper .btns {
  display: flex;
  flex-direction: column;
  width: 20%;
}
body .listShowDeveloper .btns .dugmeDelete,
body .listShowDeveloper .btns .dugmeUpdate,
body .listShowDeveloper .btns .btnHire {
  width: 80%;
  align-self: center;
  padding: 0.5rem 2rem;
  transition: 0.2s all ease;
  outline: none;
  border: none;
  margin-bottom: 0.2rem;
}
body .listShowDeveloper .btns .dugmeDelete:hover,
body .listShowDeveloper .btns .dugmeUpdate:hover,
body .listShowDeveloper .btns .btnHire:hover {
  background-image: linear-gradient(to right, lightcoral, #be2e2e) !important;
  cursor: pointer;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.1rem);
  transform: scale(1.2);
}
body .hiring {
  background-color: #b33a3a;
  display: none;
  position: relative;
  flex-direction: column;
  padding: 3rem 0;
}
body .hiring .hiringProcess {
  display: flex;
  justify-content: space-between;
}
body .hiring .xHiring {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  background-color: rgba(222, 184, 135, 0.7);
  cursor: pointer;
}
body .hiring .listOfDevelopersPriperedToHire {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80%;
  margin: 2rem auto 0 0;
}
body .hiring .listOfDevelopersPriperedToHire ul {
  align-self: center;
  justify-content: center;
  width: 60%;
  margin: 0 0 0 0;
}
body .hiring .listOfDevelopersPriperedToHire ul li {
  font-size: 2rem;
  list-style-type: none;
  text-align: center;
}
body .hiring .listOfDevelopersPriperedToHire button {
  width: 35%;
}
body .hiring .HireDeveloper {
  display: none;
}
body .hiring .hireDevelopers {
  display: none;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  align-self: center;
  flex-direction: column;
}
body .hiring .hireDevelopers button {
  width: 60%;
  margin-bottom: 0.5rem;
}
body .hiring .hireDevelopers .mainHireDevelopers .section {
  align-self: center;
  text-align: center;
}
body .hiring .hireDevelopers .mainHireDevelopers .section .removePeriod {
  width: 1.5rem;
  padding: 0.2rem 0;
  color: red;
  font-size: 0.8rem;
}
body .hiring .feedback {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
  align-self: center;
}

.hiringTable {
  display: none;
  width: 100%;
  text-align: center;
  margin: 5vh auto;
}
.hiringTable h2 {
  color: #c75a5a;
  text-transform: uppercase;
  margin-bottom: 2vh;
}
.hiringTable .table {
  margin: 0 auto;
  width: 80%;
}
.hiringTable .table td,
.hiringTable .table th {
  border: 1px solid #dddddd;
  padding: 8px;
}
.hiringTable .table td li,
.hiringTable .table th li {
  list-style-type: none;
  font-size: 0.8rem;
}
.hiringTable .table th {
  text-align: center;
}
.hiringTable .table td:nth-child(1) {
  font-size: 1rem;
}
.hiringTable .table tr {
  background-color: rgba(199, 90, 90, 0.6);
}/*# sourceMappingURL=style.css.map */