@import url('./abstracts/functions.scss');//donju crtu ne moras da upisujes kad importujes parcijalni fajl
@import url('./abstracts/mixins.scss');
@import './abstracts/variables';//kad importujes fajl koji sadrzi samo promenljive
//onda ga ovako importujes, bez url


@import './components/header.scss';
@import './components/about';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;//ovo definise vrednost jednog rem-a (1 rem);
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-grey;
}

.row{
  display: flex;
 width: 80%;
 margin: 4rem  auto 0 auto;
  // justify-content: space-between;

  .col-1-of-2{
    width: calc((100%-1rem)/2);
   


    &:not(:last-child){
      margin-right: 1rem;
  
    }
  }
  
}

.heading-secondary{
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(
      to right,
      $color-green,
      $color-green-light
    );
  background-clip:text;
  color: transparent;
  text-align: center;
  transition: all .2s;
  padding-top: 5rem;
  &:hover{
      transform: skewY(2deg) skewX(15deg) scale(1.1);
      text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }
}


.heading-tertiary{
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1rem;
}
.paragraph{
  font-size: 1.6rem;
  text-transform: none;
  font-weight: 300;
}



