@import '../components/variables.scss';
.mainIntroduction{
    width: 60%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: rgba($color: $white, $alpha: .5);
    display: flex;
    flex-direction: column;
    
   

        &__logo{
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        img{
            transform: scale(.6);
        }
        } 

        &__mainDiv{
            width: 100%;
            margin: 0 auto; 
            img{
                width: 50%;
            }
        }
}