@import "./variables";
@mixin mobile {
  @media screen and (max-width: 320px) {
    @content;
  }
}
.registration {
  width: 60%;
  @include mobile() {
    width: 85%;
  }
  .registration__mainDiv{
    @include mobile() {
     
        height: 80vh;
      }
    h2 {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        @include mobile() {
        //   margin-top: -8rem;
        }
      }
      .registration__registrationForm {
        width: 80%;
        margin: 0 auto;
        &__normalInput {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-column-gap: 0.5rem;
    
          @include mobile() {
            grid-template-columns: 1fr;
          }
          &--input {
            width: 100%;
            height: 3rem;
            background-color: transparent;
            margin-top: 0.5rem;
            outline: none;
            color: $grey;
            border: 0.17rem solid rgba($green, 0.8);
            &::placeholder {
              color: $grey;
              padding-left: 1rem;
              font-family: "Poppins", sans-serif;
              font-size: 1rem;
            }
          }
        }
    
        &__chackboxInput {
          font-family: "Poppins", sans-serif;
          display: flex;
          flex-direction: column;
    
          &--chackboxSection {
            display: flex;
            align-items: center;
            width: 65%;
            padding: 0.5rem 0;
            @include mobile() {
                width: 100%;
              }
    
            &--input {
              margin-right: 2rem;
              appearance: none;
              height: 1rem;
              width: 1rem;
              background-color: rgba($green, 0.9);
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
    
              &:checked::after {
                content: "\f00c";
                font-family: "Font Awesome 5 free";
                font-weight: 900;
                color: $white;
                font-size: 1rem;
              }
            }
    
            label {
              margin: 0 0;
              text-align: left;
              @include mobile() {
                font-size: .9rem;
              }
            }
          }
        }
      }
    
  }
  
}
