$color-black:rgb(0, 0, 0);
$color-white:#fff;



$color-grey:#777;
$color-grey-light:#f7f7f7;
$color-grey-dark:#524f4f;

$color-green:rgba(126, 213, 111, 0.8);
$color-green-light:rgba(40, 180, 131, 0.8);
$color-green-dark:rgba(24, 121, 87, 0.8);

$color-orange-light:#ffb900;
$color-orange-dark:#ff7730;

$color-blue-light:#2998ff;
$color-blue-dark:#5643fa;


